@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* Déclaration des polices */
@font-face {
  font-family: "Grift";
  src: url("/fonts/grift-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Déclaration des polices */
@font-face {
  font-family: "Grift";
  src: url("/fonts/grift-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Définition des variables */
:root {
  /* Général */
  --background: oklch(100% 0 0); /* #ffffff */
  --foreground: oklch(25% 0.01 0); /* #333333 */

  /* Card */
  --card: oklch(96% 0.003 270); /* #f2f2f7 */
  --card-foreground: oklch(25% 0.01 0); /* #333333 */

  /* Autres */
  --muted: oklch(96% 0.003 270); /* #f2f2f7 */
  --muted-foreground: oklch(65% 0.01 0); /* #9e9e9e */
  --secondary: oklch(96% 0.003 270); /* #f2f2f7 */
  --secondary-foreground: oklch(25% 0.01 0); /* #333333 */

  /* Le Bon Fournisseur */
  --primary: oklch(18% 0.07 15); /* #3e1013 */
  --primary-foreground: oklch(96% 0.02 95); /* #f3f2e0 crème */
  --primary-mid: oklch(28% 0.09 15); /* #7a282a */

  /* Erreurs */
  --destructive: #e3131c; /* #e3131c */

  /* Inputs */
  --input: oklch(96% 0.003 270); /* #f2f2f7 */
  --input-border: oklch(85% 0.005 270); /* #d4d4d8 */
  --ring: oklch(65% 0.01 0); /* #9e9e9e */
  --popover: oklch(100% 0 0); /* #ffffff */
  --popover-foreground: oklch(25% 0.01 0); /* #333333 */

  /* Radius */
  --radius: 0.5rem;

  /* Border */
  --border: oklch(96% 0.003 270); /* #f2f2f7 */
}

/* Déclaration des tokens de design à Tailwind v4 */
@theme {
  /* Font */
  --font-heading: "Grift", Helvetica, Arial, sans-serif;
  --font-body: "Grift", -apple-system, sans-serif;
}

@theme inline {
  /* Général */
  --color-foreground: var(--foreground);
  --color-background: var(--background);

  /* Card */
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  /* Autres */
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  /* Le Bon Fournisseur */
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-mid: var(--primary-mid);

  /* Erreurs */
  --color-destructive: var(--destructive);

  /* Inputs */
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-input-border: var(--input-border);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);

  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-pill: 6.25rem;

  /* Border */
  --color-border: var(--border);
}

/* Styles globaux sur tous les éléments HTML */
@layer base {
  body {
    font-family: var(--font-body);
    font-weight: 400;
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.25rem;
  }

  h2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.875rem;
  }

  h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1.5rem;
  }

  h4 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    color: var(--foreground);
  }

  * {
    @apply border-border outline-ring/50;
  }
}
